.tab-header-background {
    -fx-background-color: #0C1530 ;
    -fx-border-color: transparent transparent #2C375A  transparent;
    -fx-border-width: 2;
}
.tab-header-area{

    -fx-pref-height: 40px;
}
.tab:selected .tab-label {
    -fx-font-family: "Hack NF";
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-text-fill: #06a75b;

}
.tab{
    -fx-background-color: #101B3F;
    -fx-background-insets: 0 3 2 0;
    -fx-pref-height: 35;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: #1A2546;

}

.tab .tab-label {
    -fx-text-alignment: center;
    -fx-font-family: "Hack NF";
    -fx-font-size: 20px;
    -fx-text-fill: #016937;
}
.bottomHbox{
    -fx-background-color: #0C1530;
    -fx-border-color: #2C375A transparent transparent  transparent ;
    -fx-border-width: 2 0 0 0;
}
.centerHbox{
   -fx-background-color: #1A2546;
}

.signOut{
    -fx-font-family: "Hack NF";
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-text-fill: #016937;
}
.signOut:pressed{
    -fx-text-fill: #06a75b;
}
.pseudo{
    -fx-font-family: "Hack NF";
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-text-fill: #016937;
}
.allElements .labelAllElements{
    -fx-font-family: "Hack NF";
    -fx-text-alignment: center;
    -fx-font-size: 19px;
    -fx-text-fill: #06a75b;
}

.allElements {
    -fx-border-color: transparent transparent #2C375A transparent;
    -fx-border-width: 0 0 2 0;
}

.allPressed{
    -fx-background-color: #2C375A;
    -fx-border-color: transparent #06a75b #2C375A transparent;
    -fx-border-width: 0 5 2 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #2C375A;
    -fx-padding: 0 2px 0 2px;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #2C375A;
    -fx-padding: 0 2px 0 2px;
}

/* Focus color killer */
.groups, .elementHiddenField {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.groups .tree-cell {
    -fx-background-color: #1A2546;
    -fx-text-fill: #06A75b;
    -fx-font-weight: bold;
}

.groups .tree-cell:selected {
    -fx-background-color: #2C375A;
    -fx-border-color: transparent #06A75B;
    -fx-border-width: 0 5 0 0;
}

.titlebox {
    -fx-padding: 20;
}

.groupLabel {
    -fx-text-fill: #06A75B;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.elementIcon {
    -fx-padding: 0 10 0 0;
    -fx-text-fill: #06A75B;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.elementFieldnames {
    -fx-text-fill: #06A75B;
    -fx-font-size: 13px;
    -fx-padding: 0 0 0 20;
}

.elementHiddenField {
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 4 0;
    -fx-font-size: 30px;
    -fx-text-fill: #06A75B;
    -fx-padding: 0;
}

.elementHiddenField:hover {
    -fx-border-color: #013F21;
}

.elementHiddenField:focused{
    -fx-border-color: #016937;
}

.elementField {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #016937;
    -fx-text-fill: #016937;

    /** Ugly hack */
    -fx-padding: 10 20 10 20;
    -fx-border-insets: 10 20 10 20;
    -fx-background-insets: 10 20 10 20;
}

.cellListView {
    -fx-background-color: #1A2546;
}

.cellListView:selected{
    -fx-background-color: #2C375A;
    -fx-border-color: transparent #06A75B;
    -fx-border-width: 0 5 0 0;
}

.username{
    -fx-text-fill: #06A75B;
    -fx-font-size: 11px;
    -fx-padding: -10 0 0 20;
}

.website{
    -fx-text-fill: #06A75B;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 10 0 0 10;
}


.iconCenter{
    -fx-text-fill: #06A75B;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-padding: 0 0 20 0;
}

.boxSave {
    -fx-padding: 0 10 10 10;
}

.rmbt {
    -fx-padding: 0 10 0 0;
}